{% extends "layout.html" %}
{% block content %}
<div id="home-content" class="container my-auto mx-auto py-3 px-1">

    <h5>The Project Management Service App enables users to collaborate with others displaying requirements, issues, and even a chat!</h5>

    <div class="card-deck mb-3 py-5 px-auto w-auto">
        <div class="card">
            <div class="card-header">
                Project Requirements
            </div>
            <div class="card-body">
                <p class="card-text">
                    This section holds the projects and their requirements.
                </p>
            </div>
            <div class="card-footer text-center">
                <a id="test" href="{{ url_for('projects') }}" class="btn btn-sm btn-dark">Go to Project Requirements</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Issue Tracking
            </div>
            <div class="card-body">
                <p class="card-text">
                    Here you can view and edit issues related to projects.
                </p>
            </div>
            <div class="card-footer text-center">
                <a id="pins" href="{{ url_for('issues') }}" class="btn btn-sm btn-dark">Go to Issue Tracking</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Chat
            </div>
            <div class="card-body">
                <p class="card-text">
                    This is a dashboard that shows your messages. 
                </p>             
            </div>
            <div class="card-footer text-center">
                <a id="apps" href="{{ url_for('chat') }}" class="btn btn-sm btn-dark">Go to Chat</a>
            </div>
        </div>

    </div>


</div>
{% endblock content %}
