{% extends "layout.html" %}
{% block content %}

    <div class="panel panel-default">
  <!-- Default panel contents -->
  <h2 class="panel-heading">Issue List</h2>
        <a role="button" class="btn btn-secondary btn-lg" style = "float: right;" href= {{ url_for('add_issue') }}>New Issue</a>


  <!-- Table -->
  <table class="table table-striped">

      <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
        <th>Complete Before</th>
        <th>Priority</th>
    </tr>
      </thead>
      <tbody>
{#{% for issue in issues %}#}
{#      <tr>#}
{#        <th>{{ issue.id }}</th>#}
{#            <td><a href="#">{{ issue.title }}</a></td>#}
{#        <td>{{ issue.author }}</td>#}
{#        <td>{{ issue.date_posted }}</td>#}
{#        <td>{{ issue.date_request }}</td>#}
{#        <td class="ntd_issue" style = "color: darkgreen">{{ issue.priority }}</td>#}
{#    </tr>#}
{#{% endfor %}#}


{#      <tr>#}
{##}
{#        <th>{{  }}</th>#}
{#            <td><a href="#">Issue 1Issue 1Issue 1</a></td>#}
{#        <td>Guanhang</td>#}
{#        <td>2019.03.23</td>#}
{#        <td>2019.05.05</td>#}
{#        <td class="ntd_issue" style = "color: darkgreen">Nice to do</td>#}
{##}
{##}
{#    </tr>#}
{#<tr>#}
{##}
{#        <th>2</th>#}
{#        <td><a href="#">Issue 1444</td>#}
{#        <td>Kevin</td>#}
{#        <td>2019.03.23</td>#}
{#        <td>2019.05.05</td>#}
{#        <td class="urgent_issue"  style = "color: red">Urgent</td>#}
{##}
{#    </tr><tr>#}
{##}
{#        <th>3</th>#}
{#        <td><a href="#">Issue 33</td>#}
{#        <td>Matt</td>#}
{#        <td>2019.03.23</td>#}
{#        <td>2019.05.05</td>#}
{#        <td class="important_issue" style = "color: orangered;">Improtant</td>#}
{#    </tr><tr>#}
{##}
{#        <th>4</th>#}
{#        <td><a href="#">Issue 2</td>#}
{#        <td>Peter</td>#}
{#        <td>2019.03.23</td>#}
{#        <td>2019.05.05</td>#}
{#        <td class="completed_issue" style = "color: #225599;">Completed</td>#}
{#</tr>#}

      </tbody>

  </table>
</div>
{% endblock %}
