{% extends "layout.html" %}
{% block content %}
  <div class="container mx-auto my-auto py-3 px-1">
    <div id="panelGroup" class="panel-group context" id="accordion" role="tablist" aria-multiselectable="true">
      <!-- Projects go here -->
      {% if project %}
          <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ project.author }}</a>
                <small class="text-muted">{{ project.date_posted }}</small>
              </div>
              <h2><a class="article-title" href="#">{{ project.title }}</a></h2>
              <p class="article-content">{{ project.content }}</p>
            </div>
          </article>
      {% else %} 
        <div class="alert alert-secondary">No Projects Found</div>
      {% endif %}

      {% if current_user.is_authenticated %}
        <button id="add-project-btn" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#project-body" aria-expanded="false" aria-controls="project-body" style="text-transform:none"><strong>Add Project</strong></button>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#project-body" aria-expanded="false" aria-controls="project-body" style="text-transform:none"><strong>Archive Project</strong></button>
      {% else %}
        <div class="alert alert-info">Please login to edit projects</div>
      {% endif %}
      </div>

      <div id="working" class="modal fade py-5 mx-auto my-auto" tabindex="-1" role="dialog" aria-labelledby="smallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-md" role="document">
              <div class="modal-content mr=1 text-center py-3 px-3">
                  <div class="row">
                      <div class="col-md-6 text-center m-auto">
                          <strong>Executing pipeline...</strong>
                      </div>
                      <!-- grid col -->
                  </div>
                  <!-- grid row -->
              </div>
              <!-- modal content -->
          </div>
          <!-- modal dialog -->
      </div>
      <!-- modal container -->
  </div>
<!-- projects container -->
{% endblock content %}
