{% extends "layout.html" %}
{% block content %}
  {% if projects is not none %}
    <div class="container mx-auto my-auto py-3 px-1">
    {% for project in projects %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + project.author.image_file) }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('account', username=project.author.username) }}">{{ project.author.username }}</a>
            <small class="text-muted">{{ project.date_posted.strftime('%Y-%m-%d') }}</small>
          </div>
          <h2><a class="article-title" href="{{ url_for('project', project_id=project.id) }}">{{ project.title }}</a></h2>
          <p class="article-content">{{ project.content }}</p>
        </div>
      </article>
    {% endfor %}
    {% else %}
      <div class="alert alert-secondary">No Projects Found</div>
    {% endif %}
      <a id="add-project-btn" class="btn btn-primary" href="{{ url_for('new_project') }}"><strong>Add Project</strong></a>
    </div>
    <!-- projects container -->
  {% endblock content %}