{% extends "layout.html" %}
{% block content %}
   <div class="panel panel-default">
  <h2 class="panel-heading" style="padding-left: 15px">Issue List</h2>
         <div style="display: inline-block">
       <nav class="navbar navbar-light bg-light">
            <form class="form-inline"  action = "{{ url_for('issues.issue_search') }}" method="get">
    <input class="form-control mr-sm-2"  placeholder="Search"  name = "Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
    </div>
    <div style="display: inline-block; float: right">
        <a role="button"  class="btn btn-secondary btn-lg" style = "float: right;" href="{{ url_for('issues.new_issue') }}">New Issue</a>
    </div>
<style>
body{
    counter-reset: num;
}

li:before{
    counter-increment: num;
    content: counter(num);
    list-style-type: none;
    line-height:50px;
    text-align:center;
}
ul{
    list-style-type: none;
    line-height:50px;
    text-align:center;
}
</style>

  {% if projects|length > 0 %}
    <div class="container mx-auto my-auto py-3 px-1">
    <table class="table table-striped">

      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Project</th>
          <th>Author</th>
          <th>Issue Date</th>
          <th>Priority</th>
        </tr>
      </thead>

    {% if issues|length > 0 %}
        {% for issue in issues %}
          <tbody>
            <th>{{ issue.id }}</th>
            <td><a class="article-title" href="{{url_for('issues.update_issue', issue_id=issue.id)}}">{{ issue.title }}</a></td>
            <td>{{ issue.project }}</td>
            <td>{{ issue.open_by }}</td>
            <td>{{ issue.issue_date.strftime('%Y-%m-%d') }}</td>
            <td>{{ issue.priority }}</td>
            <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal_{{ issue.id }}">Delete</button>
            </td>    
          </tbody>
        <!-- Modal -->
        <div class="modal fade" id="deleteModal_{{ issue.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Issue</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form id="delete_{{ issue.id }}" action="{{url_for('issues.delete_issue', issue_id=issue.id)}}" method= "POST">
                  <input class="btn btn-danger" type="submit" value="Delete">
                </form>
              </div>
            </div>
          </div>
        </div>  
        {% endfor %}
        </table>
      {% else %}
        <div class="alert alert-secondary">No Issues Found</div>
      {% endif %}
  {% else %}
    <div class="alert alert-secondary">No Projects to Add Issues</div>
  {% endif %}
   </div>

  {% endblock content %}

