{% extends "layout.html" %}
{% block content %}
   <div class="panel panel-default">
  <h2 class="panel-heading" style="padding-left: 15px">Issue List</h2>
         <div style="display: inline-block">
       <nav class="navbar navbar-light bg-light">
            <form class="form-inline"  action = "{{ url_for('issues.issue_search') }}" method="get">
    <input class="form-control mr-sm-2"  placeholder="Search"  name = "Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
    </div>
    <div style="display: inline-block; float: right">
        <a role="button"  class="btn btn-secondary btn-lg" style = "float: right;" href="{{ url_for('issues.new_issue') }}">New Issue</a>
    </div>
<style>
body{
    counter-reset: num;
}

li:before{
    counter-increment: num;
    content: counter(num);
    list-style-type: none;
    line-height:50px;
    text-align:center;
}
ul{
    list-style-type: none;
    line-height:50px;
    text-align:center;
}
</style>

  {% if projects|length > 0 %}
    <div class="container mx-auto my-auto py-3 px-1">
    <table class="table table-striped">

      <thead>
      <tr>
        <th style="line-height:50px;text-align:center">#</th>
        <th style="line-height:50px">Title</th>
        <th style="line-height:50px;text-align:center">Author</th>
        <th style="line-height:50px;text-align:center">Date</th>
        <th style="line-height:50px;text-align:center">Complete Before</th>
        <th style="line-height:50px;text-align:center">Priority</th>
    </tr>
      </thead>

    {% if issues|length > 0 %}
        {% for issue in issues %}
            <tbody>
            <th style="line-height:50px;text-align:center"><li></li></th>
            <td style="line-height:50px"><a href="/issues/<int:issue_id>/update">{{issue.title}}</td>
            <td style="line-height:50px;text-align:center">{{ issue.open_by }}</td>
            <td style="line-height:50px;text-align:center">{{ issue.issue_date.strftime('%Y-%m-%d') }}</td>
            <td style="line-height:50px;text-align:center">{{ issue.completed_date}}</td>
            <td style="line-height:50px;text-align:center">{{ issue.priority }}</td>
            <td style="line-height:50px;text-align:center"><button type="button" class="btn btn-outline-danger">Delete</button></td>
            </tbody>
        {% endfor %}
        </table>
      {% else %}
        <div class="alert alert-secondary">No Issues Found</div>
      {% endif %}
  {% else %}
    <div class="alert alert-secondary">No Projects to Add Issues</div>
  {% endif %}
   </div>

  {% endblock content %}

