{% extends "layout.html" %}
{% block content %}
  {% if projects|length > 0 %}
    <div class="container mx-auto my-auto py-3 px-1">
    {% if issues|length > 0 %}
        {% for issue in issues %}
          <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <small class="text-muted">{{ issue.issue_date.strftime('%Y-%m-%d') }}</small>
              </div>
              <div class="row justify-content-between">
                <div class="col">Description:
                  <p class="article-content">{{ issue.issue_description }}</p>
                </div>
                <div class="col">Priority:
                  <p class="article-content">{{ issue.priority }}</p>
                </div>
                <div class="col">Open_by:
                  <p class="article-content">{{ issue.open_by }}</p>
                </div>
                <div class="col">Project:
                  <p class="article-content">{{ issue.project_id }}</p>
                </div>
              </div>
            </div>
            </div>
          </article>   
        {% endfor %}
      {% else %}
        <div class="alert alert-secondary">No Issues Found</div>
      {% endif %}
        <a id="add-project-btn" class="btn btn-primary" href="{{ url_for('issues.new_issue') }}"><strong>Add Issue</strong></a>    
  {% else %}
    <div class="alert alert-secondary">No Projects to Add Issues</div>
  {% endif %}
  </div>
  {% endblock content %}